.ProductCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100px;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    height: 80px;
  }
  
  .pric {
    color: rgb(39, 85, 59);

   
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /* width: 100px; */
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }